<div class="row">
  <div class="col-sm-9">
    <h1 id="board-title" ng-show="!editingTitle" ng-click="editTitle()">{{ currentBoard.title }}</h1>
    <input type="text" ng-show="editingTitle" id="new-title" placeholder="Enter new title...">
    <input type="submit" ng-show="editingTitle" ng-click="updateTitle()" value="Update Title">
  </div>

  <div class="col-sm-3">
    <header-links boards="boards" current-board="currentBoard" chosen-board="chosenBoard" create-default-board="createDefaultBoard()" delete-board="deleteBoard()" choose-board="chooseBoard(board)"></header-links>
  </div>
</div>

<div class="row" ng-controller="ListsIndexCtrl">
  
  <div class="col-sm-3" ng-repeat="list in currentBoard.lists">
    <div class="panel panel-default">
      <div class="panel-heading">{{ list.title }}</div>
      <div class="panel-body">
        {{ list.description }}
      </div>
      <div class="panel-footer">
        <p><a ng-click="addCard()">Add a Card</a></p>
        <p><a ng-click="deleteList(list)">Delete List</a></p>
      </div>

    </div>
  </div>


  <div class="col-sm-3">
    <a ng-click="addList()">Add a List</a>
  </div>

</div>