<div class="row">
  <div class="col-sm-9">
    <h1 id="board-title" ng-show="!editingTitle" ng-click="editTitle()">{{ currentBoard.title }}</h1>
    <input ng-show="editingTitle" type="text" class="form-control" id="new-title" placeholder="Enter new title..." ng-blur="updateTitle()">
  </div>

  <div class="col-sm-3">
    <header-links boards="boards" current-board="currentBoard" chosen-board="chosenBoard" create-default-board="createDefaultBoard()" delete-board="deleteBoard()" choose-board="chooseBoard(board)"></header-links>
  </div>
</div>

<div class="row" ng-controller="ListsIndexCtrl">
  
  <div class="col-sm-4" ng-repeat="list in currentBoard.lists">
    <div class="panel panel-default">
      <div class="panel-heading">

        <h3 ng-show="!editingTitle[list.id]" ng-click="editListTitle(list.id)" id="list-title-{{ list.id }}">{{ list.title }}</h3>
        <input ng-show="editingTitle[list.id]" type="text" id="new-list-title-{{ list.id }}" ng-blur="updateTitle(list)">

        <p ng-show="!editingDesc[list.id]" ng-click="editListDesc(list.id)" id="list-desc-{{ list.id }}">{{ list.description }}</p>
        <input ng-show="editingDesc[list.id]" type="text" id="new-list-desc-{{ list.id }}" ng-blur="updateListDesc(list)">

      </div>
      <div class="panel-body" ng-controller="CardsIndexCtrl">

        <div ng-repeat="card in list.cards" draggable="true">
          <h4 ng-click="editCard(card)">{{ card.title }}</h4>
          <p ng-click="editCard(card)">{{ card.description }}</p>
          <card-modal card="card" update-card="updateCard"></card-modal>
        </div>

        <p><a ng-click="addCard(list)">Add a Card</a></p>

      </div>
      <div class="panel-footer">
        <p><a ng-click="deleteList(list)">Delete List</a></p>
      </div>

    </div>
  </div>

  <div class="col-sm-3">
    <a ng-click="addList()">Add a List</a>
  </div>

</div>




